body {
  background-color: #1c1c1c;
  color: white;
}

@media (max-width: 768px) {
  body {
    background-color: red;
    color: white;
  }
}

.image-box {
  display: block;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.image-box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.image-box:hover {
  transform: scale(1.02);
}
